.custom-card{
    padding:10px;
    // padding-left: 0;
    // padding-right: 0;
    color: var(--ion-color-primary);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    width: 100%;
    background: white;
    img{
        font-size: 3em;
        width: 40px;
        height: 40px;
    }
}


.container{
    // padding-left: 5px;
    margin-top: 10px;
}

.news{
    padding-top: 15px;
    padding-bottom: 15px;
    ion-icon{
        font-size: 3em;
    }

    .news-card{
        color: #9a9797;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.m-10{
    margin-bottom: 10px;
}

.limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .card {
    box-shadow: unset;
    border-radius: 9px;
    background-color: white !important;
}
.price {
    font-size: 18px;
    float: left;
    margin: 3px;
}
.inline {
    font-size: 15px;
    margin-inline-end: 5px;
    text-decoration: line-through;
}
.subtitle {
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.badge {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: rgba(12, 12, 12, .75);
    border-radius: 0;
}


@mixin setScrolltopColors($bgColor: #333, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
    #scrolltop-bg {
      fill: $bgColor;
    }
    #scrolltop-arrow {
      fill: $arrowColor;
    }
    a:hover {
      #scrolltop-bg {
        fill: $bgColorHover;
      }
      #scrolltop-arrow {
        fill: $arrowColorHover;
      }
    }
  }
  
  .scrolltop-wrap {
    z-index: 99;
    $size: 3rem;
    $offsetBottom: 4rem;
    $offsetHorizontal: 1.5rem;
    $scrollToRevealDistance: 1rem; 
    $color: #653230;
    box-sizing: border-box;
    position: absolute;
    top: $scrollToRevealDistance;
    right: $offsetHorizontal;
    bottom: 0;
    pointer-events: none;
    backface-visibility: hidden;
    @include setScrolltopColors($color, white, lighten($color, 8%));
    // prevent extra page height if content is smaller than viewport
    // Firefox only
    @supports (-moz-appearance: meterbar) {
      clip: rect(0, $size, auto, 0);
    }
    
    .scrollToTop {
      $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
      position: fixed; // fallback
      position: sticky;
      top: $offset;
      width: $size;
      height: $size;
      margin-bottom: $offset;
      transform: translateY(100vh); // push to bottom from top (when stuck)
      backface-visibility: hidden;
      display: inline-block;
      text-decoration: none;
      user-select: none;
      pointer-events: all;
      outline: none;
      overflow: hidden;
      svg {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        path {
          transition: all 0.1s;
        }
      }
      #scrolltop-arrow {
        transform: scale(0.66);
        transform-origin: center;
      }
    }
    @media print {
      display: none !important;
    }
  }
  