<ion-content>
  <app-tpl-page title="Main Menu" (segmentSlide)="update($event)">
    <ng-template tplPage>

      <div id="home">

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
                (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
                <ion-slide *ngFor="let s of sliderOne.slidesItems">
                  <img src="https://via.placeholder.com/200x70">
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change($event)"
          (click)="preventDefault($event)" #Slides>
          <ion-slide>
            <app-productlist [recieved_data]="sponsored"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_2"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_3"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_4"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_5"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="sponsored"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_2"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="sponsored"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_4"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_5"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="sponsored"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_2"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_3"></app-productlist>
          </ion-slide>
          <ion-slide>
            <app-productlist [recieved_data]="product_data_4"></app-productlist>
          </ion-slide>
        </ion-slides>

        <div class="scrolltop-wrap">
          <!-- <a href="#home" role="button" aria-label="Scroll to top"> -->
          <ion-buttons class="scrollToTop" (click)="scrollTop()">
            <svg height="48" viewBox="0 0 48 48" width="48" height="48px" xmlns="http://www.w3.org/2000/svg">
              <path id="scrolltop-bg" d="M0 0h48v48h-48z"></path>
              <path id="scrolltop-arrow" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
            </svg>
          </ion-buttons>


        </div>

      </div>



    </ng-template>
  </app-tpl-page>
</ion-content>