<ion-content class="ion-padding">
  <ion-text><h3  class="ion-margin-bottom ion-text-center title">Sign In</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input ion-padding-horizontal" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input ion-padding-horizontal"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="ion-float-end" color="medium" (click)="fun.navigate('passwordreset', true)"><h6 class="small">Forgot Password?</h6></ion-text>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="login()" color="mytheme"><strong class="white">Sign In</strong></ion-button>
      </ion-col>
    </ion-row>
    <div class="line"></div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="fb" class="ion-no-padding"><ion-img src="assets/images/facebook_logo.png" slot="start" class="logo ion-margin-end"></ion-img>Facebook</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="light" class="ion-no-padding"><ion-img src="assets/images/google_logo.png" slot="start" class="logo ion-margin-end"></ion-img>Google</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="primary" routerLink="/auth/register" color="mytheme"><strong>New? Create an Account</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center" color="medium"><h6 no-margin class="small"><a (click)="open_modal(true)">Terms of Use</a> and <a (click)="open_modal(false)">Privacy Policy</a></h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>