<!-- <p>
  product-list works!
</p> -->


<ion-row>
  <ion-col *ngFor="let data of recieved_data;" size="6">
    <ion-card class="card ion-no-margin" (click)="open(data)">
      <ion-badge class="badge" *ngIf="data.offer">{{data.discount}}%</ion-badge>
      <img [src]="data.image[0]" [alt]="data.name">
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col class="ion-no-padding" *ngIf="data.offer">
              <ion-text class="ion-text-left"><span class="price"><span class="inline">{{data.currency}}{{data.cost_price}}</span> <strong>{{data.currency}}{{fun.calculate(data.cost_price, data.discount)}}</strong></span></ion-text>
            </ion-col>
            <ion-col  class="ion-no-padding"*ngIf="!data.offer">
              <ion-text class="ion-text-left"><span class="price"><strong>{{data.currency}}{{data.cost_price}}</strong></span></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-left ion-no-padding">
              <h6  class="ion-text-left subtitle">{{data.bought}}+ bought this</h6>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>