.active-tab{
    color: var(--ion-color-primary) !important;
}

.information-fab{
    position: absolute;
    top: 80vh;
    // div {
    //     position: absolute;
    //     top: 80vh;
    // }
}

.home{
    color: white;
}
