@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald/static/Oswald-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald/static/Oswald-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald/static/Oswald-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}
