<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<div>
  <ion-row class="padding-0">
    <ion-col class="padding-0">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let i of product.image;">
          <img class="image" [src]="i">
          <div class="product-image-overlay"></div>
        </ion-slide>
      </ion-slides>
      <ion-badge class="badge">
        <ion-icon name="images"></ion-icon>{{product.image.length}}
      </ion-badge>
      <ion-row class="ion-justify-content-end hover-buttons">
        <ion-icon size="small" name="logo-instagram" class="ion-float-right fab" (click)="shareViaInstagram(product.image[0])"></ion-icon>
        <ion-icon size="small" name="share" class="ion-float-right fab" (click)="shareCommon(product.image[0])"></ion-icon>
        <ion-icon *ngIf="!liked" size="small" name="heat-empty" class=" fab" (click)="like()"></ion-icon>
        <ion-icon *ngIf="liked" size="small" name="hearion-float-right fab red" (click)="like()"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>


  <div class="ion-padding">

    <ion-row lines="none" class="row">
      <ion-text class="name">{{product.name}}</ion-text>
    </ion-row>
    <ion-row>
      <ion-icon name="star" color="mytheme" *ngFor="let i of fun.array(product.rating)"></ion-icon>
      <ion-icon name="star-outline" color="mytheme" *ngFor="let i of fun.array(5-product.rating)"></ion-icon>
      <h6  class="ion-no-margin ion-padding-start rate" (click)="goToReviews()">({{product.store_rating}} store ratings)</h6>
    </ion-row>
    
   
    <div class="sep"></div>
    <ion-row class="full info">
      <ion-row>
        <ion-col><strong>Sizing</strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6 class="ion-no-margin">Too Small</h6>
        </ion-col>
        <ion-col size="8">
          <div class="progress-outer">
            <div class="progress-inner" [ngStyle]="{'width': product.sizing.small+'%'}"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6 class="ion-no-margin">Just Right</h6>
        </ion-col>
        <ion-col size="8">
          <div class="progress-outer">
            <div class="progress-inner" [ngStyle]="{'width': product.sizing.okay+'%'}"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6 class="ion-no-margin">Too Large</h6>
        </ion-col>
        <ion-col size="8">
          <div class="progress-outer">
            <div class="progress-inner" [ngStyle]="{'width': product.sizing.large+'%'}"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-row>
    <div class="sep"></div>
    <div>
      <ion-text><span class="ion-float-left ion-no-margin"><strong>Sold By</strong></span></ion-text><br>
      <ion-row>
        <ion-col size="2">
          <ion-avatar class="avatar"><img [src]="product.image[0]"></ion-avatar>
        </ion-col>
        <ion-col>
          <ion-text><span class="ion-float-left ion-no-margin">{{product.sold_by}}</span></ion-text><br>
          <ion-text>
            <h6 class="ion-float-left ion-no-margin">{{product.store_rating}} ratings</h6>
          </ion-text><br>
        </ion-col>
      </ion-row>
    </div>
    <div class="sep"></div>
    <ion-list lines="none">
      <ion-row class="full info" (click)="toogle(0)">
        <ion-col size="9">
          <strong class="ion-float-left">Item Specification</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-float-right" name="arrow-dropdown" *ngIf="!open[0]"></ion-icon>
          <ion-icon class="ion-float-right" name="arrow-dropup" *ngIf="open[0]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full" class="margin-top" *ngIf="open[0]">
        <ion-col>
          <span class="ion-float-left">{{product.specs}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(1)">
        <ion-col size="9">
          <strong class="ion-float-left">Description</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-float-right" name="arrow-dropdown" *ngIf="!open[1]"></ion-icon>
          <ion-icon class="ion-float-right" name="arrow-dropup" *ngIf="open[1]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full" margin-top *ngIf="open[1]">
        <ion-col>
          <span class="ion-float-left">{{product.description}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(2)">
        <ion-col size="9">
          <strong class="ion-float-left">Buyer Guarantee</strong>
        </ion-col>
        <ion-col>
          <ion-icon class="ion-float-right" name="arrow-dropdown" *ngIf="!open[2]"></ion-icon>
          <ion-icon class="ion-float-right" name="arrow-dropup" *ngIf="open[2]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top" *ngIf="open[2]">
        <ion-col>
          <span class="ion-float-left">{{product.buyer_guarantee}}</span>
        </ion-col>
      </ion-row>
      <div class="sep"></div>
      <ion-row class="full info" (click)="toogle(3)">
        <ion-col size="9">
          <strong class="ion-float-left">Shipping Information</strong>
        </ion-col>
        <ion-col size="3">
          <ion-icon name="arrow-dropdown" class="ion-float-right"  *ngIf="!open[3]"></ion-icon>
          <ion-icon name="arrow-dropup" class="ion-float-right"  *ngIf="open[3]"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="full ion-margin-top"  *ngIf="open[3]">
        <ion-col>
          <span class="ion-float-left"><strong>Standard Shipping</strong> {{product.currency}}{{product.shipping}}</span>
        </ion-col>
      </ion-row>
      <!-- <div class="sep"></div> -->
      <div (touchstart)="remove()" (touchend)="gainback()" *ngFor="let spon of product.sponsored">
        <ion-text>
          <h5 class="ion-no-margin" ><strong>Sponsored</strong></h5>
        </ion-text>
        <ion-row>
          <ion-row class="container-outer">
            <div  (click)="open_item(data)" class="container-inner">
              <img [src]="spon.image[0]" class="spon-img">
              <ion-row>
                <ion-col *ngIf="spon.offer" class="ion-no-padding">
                  <ion-text>
                    <h4 class="price"><span class="inline">{{spon.currency}}{{spon.cost_price}}</span> <strong>{{spon.currency}}{{fun.calculate(spon.cost_price,
                        spon.discount)}}</strong></h4>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="!spon.offer" class="ion-no-padding">
                  <ion-text>
                    <h4 class="price"><strong>{{spon.currency}}{{spon.cost_price}}</strong></h4>
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
        </ion-row>
      </div>

      <div class="sep"></div>
      <ion-row class="full info">
        <ion-row>
          <ion-col><strong>Recent Reviews</strong></ion-col>
        </ion-row>
        <div *ngFor="let review of product.reviews">
          <ion-row>
            <ion-col size="2">
              <ion-avatar class="avatar"><img [src]="review.image"></ion-avatar>
            </ion-col>
            <ion-col>
              <ion-row class="full">
                <ion-icon name="star" class="ion-float-right small-ico" color="mytheme" *ngFor="let i of fun.array(review.rating)"></ion-icon>
                <ion-icon name="star-outline" class="ion-float-right small-ico" color="mytheme" *ngFor="let i of fun.array(5-review.rating)"></ion-icon>
                <h6 class="ion-float-left ion-text-start ion-no-margin"><strong>{{review.name}}</strong></h6><br>
              </ion-row>
              <ion-row class="full">
                <h6 class="ion-float-left ion-text-start ion-no-margin cmnt">{{review.comment}}</h6><br>
                <img *ngFor="let img of review.images" [src]="img" class="ion-float-left  rev-img">
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>

    </ion-list>
  </div>
</div>