<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1" type="push">
    <ion-header>
      <ion-toolbar color="mytheme">
        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col size="3" class="ion-padding-vertical align-items-center">
            <ion-avatar margin-vertical>
              <img src="https://tanaytoshniwal.me/assets/images/icon_favo.jpg">
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-padding-vertical align-items-center">
            <div margin-vertical>
                <h4 no-margin margin-start class="medium white"><strong>{{dataService.current_user.fname}}
                    {{dataService.current_user.lname}}</strong></h4>
                <h6 no-margin margin-start class="small white">View Profile</h6>
              </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon" class="sidemenu-icon"></ion-icon>
          <ion-label>
            {{p.title}}
            <ion-badge *ngIf="p.title == 'Shopping Cart'" color="danger" class="label-subtext">6</ion-badge>

            <span *ngIf="p.title == 'Wish Cash'" class="label-subtext">: <span class="mycolor">{{dataService.wish_cash.currency}}{{fun.calculate(dataService.wish_cash.amount,
                  0)}}</span></span>
            <span *ngIf="p.title == 'Rewards'" class="label-subtext">: <span
                class="mycolor">{{dataService.rewards.points}} Points</span></span>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <div class="line"></div>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages1">
        <ion-item detail="false" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon" class="sidemenu-icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>


  <ion-menu side="end" type="overlay" contentId="content1" menuId="side">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="dark" (click)="back()">
            <ion-icon name="arrow-back" *ngIf="!side_open"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="dark">Refine</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngIf="side_open">
        <ion-item detail="true" (click)="menu(true)">
          Color
        </ion-item>
        <ion-item detail="true" (click)="menu(false)">
          Rating
        </ion-item>
      </ion-list>
      <ion-list *ngIf="side_open1 && !side_open">
        <ion-item detail="false" *ngFor="let c of colors">
          <ion-label>{{c}}</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!side_open1 && !side_open">
        <ion-radio-group>
          <ion-item detail="false">
            <ion-label>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon> & up
            </ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item detail="false">
            <ion-label>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon> & up
            </ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item detail="false">
            <ion-label>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon> & up
            </ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
          <ion-item detail="false">
            <ion-label>
              <ion-icon name="star" class="small-menu-icon ion-no-margin" ></ion-icon> & up
            </ion-label>
            <ion-radio slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-row>
        <ion-col size="6">
          <ion-button color="medium" expand="block">
            <h4 class="ion-no-margin white medium">Clear all</h4>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="mytheme" expand="block">
            <h4 class="ion-no-margin white medium">Apply</h4>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>


</ion-app>