<ion-header color="mytheme" class="ion-padding mybg head">
    <ion-row class="ion-justify-content-center">
        <ion-img src="assets/BlanjaMall_1920x1920.png" class="head-image"></ion-img>
    </ion-row>
</ion-header>

<ion-content>
    <div class="body">
        <ion-router-outlet>

        </ion-router-outlet>
    </div>

</ion-content>