// .bgcolor {
//     --background: white;
//     overflow: hidden !important;
// }
  

// .header{
//     height: 40vh;
//     text-align: center !important;
//     padding-bottom: 10px;
//     img{
//         padding-top: 30px;
//         max-height: 50vh;
//     }
// }

// .body{
//     padding-bottom: 10px;
//     min-height: 60vh;

//     ion-router-outlet {
//         margin-top: 30vh;
//         height: 40vh;
//         min-height: 70vh;        
//       }
// }

// .logo-img{
//     height: 200px;
//     width: 250px;

// }


.head {
    min-height: 21vh !important;
}
.head-image {
    background-size: contain;
    width: 250px;
    align-self: center;
}
.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: .9em !important;
}
.white{
    color: white;
}
.title {
    font-size: 18px;
}
.small {
    font-size: 13px;
    a{
        text-decoration: unset !important;
    }
}
.button-color {
    background-color : var(--ion-color-mytheme);
}
.logo {
    width: 1.25em !important;
}

.body{
    padding-bottom: 20px;
    // min-height: 60vh;

    ion-router-outlet {
        margin-top: 1vh;
        height: 40vh;
        min-height: 77vh;        
      }
}