.toolbar {
  background: var(--ion-color-primary) !important;
  border-bottom-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
}

.toolbar-inner {
  background: var(--ion-color-primary) !important;
  position: fixed;
  top: 0;
  width: 100%;
  // height: 10vh;
  z-index: 20;
  padding-bottom: 0;
  color: white !important;

  h2 {
      padding-left: 16px;
  }
}
.border-inside {
  margin: 18vh 0;
  position: absolute;
  // border-radius: 50px 50px 0px 0px;
  top: 15vh;
  height: 3vh;
  width: 100%;
  background: #f8f9f9 !important;
}

ion-header {
  --background: var(--ion-color-primary) !important;
}

ion-slides {
  height: 70vh;
  width: 100%;
}

ion-slide {
  width: 100vw;
}

.list {
  padding-top: 5vh;
  margin: 14vh 0;
  background: #f8f9f9 !important;
  z-index: 19;
  position: relative;
}

ion-card {
  --background: white;
  border-radius: 12px;
}

.color-grey {
  color: #999999;
}

ion-content {
  border-radius: 50px 50px 0px 0px;
  --background: #f8f9f9 !important;
}

ion-item {
  color: black;
  --background: transparent !important;
}

.passbtn {
  padding-right: 10%;
  padding-left: 10%;
}

.menu-card {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50%;

  h1{
      text-indent: 30px;
  }

  ion-avatar{
      --border-radius: 0;
  }
}
