<div>
  <div class="toolbar"></div>
  <div class="toolbar-inner">
    <h2><strong>{{title || 'Menu Template'}}</strong></h2>
  </div>
</div>
<div class="list">
  <ng-container *ngTemplateOutlet="tpl;">
  </ng-container>
</div>