// ion-icon {
//   color: #757575;
// }

// .card-login {
//   //   border-radius: 50px 50px 0 0;
//   margin: 20px;
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
//   border-radius: 6px;
//   min-height: 40vh;
//   overflow: scroll !important;
// }

// .center {
//   text-align: center;
//   color: #be9e11;
//   font-size: 1em;
//   letter-spacing: 0.1em;
// }

// .btnlogin {
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
// }
// .logo {
//   padding-left: 15%;
//   padding-right: 15%;
// }

// .input-item {
//   color: #000;
//   margin-left: 10%;
//   margin-right: 10%;
//   --background: #eeeeee;
//   border-radius: 30px !important;
//   // border: 3px solid lightblue;

//   ion-input {
//     color: #000;
//     border: none;
//   }
// }

// .primary-text {
//   color: var(--ion-color-primary);
// }

// #password,
// #username {
//   font-size: 1em;
//   letter-spacing: 0.1em;
// }

// .buttons {
//   margin-left: 10%;
//   margin-right: 10%;
// }

.head {
  min-height: 21vh !important;
}
.head-image {
  background-size: contain;
  width: 180px;
  align-self: center;
}
.input {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 9px;
  font-size: .9em !important;
}
.white{
  color: white;
}
.title {
  font-size: 18px;
  // margin: none;
  // text-align: center;
}
.small {
  font-size: 13px;
  a{
      text-decoration: unset !important;
  }
  // margin: none;
  // text-align: end;
}
.button-color {
  background-color : var(--ion-color-mytheme);
}
.logo {
  width: 1.25em !important;
}