<ion-content class="ion-padding">
  <ion-text><h3 class="title ion-no-margin ion-margin-bottom ion-text-center">Sign Up</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="first_name" class="input ion-padding-horizontal"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="last_name" class="input ion-padding-horizontal"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input ion-padding-horizontal"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input ion-padding-horizontal"></ion-input>
        <ion-icon name="eye" slot="end" (click)="shownpassword()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="signup()" color="mytheme"><strong class="white">Create an Account</strong></ion-button>
      </ion-col>
    </ion-row>
    <div class="line"></div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="fb"><ion-img src="assets/images/facebook_logo.png" slot="start" class="logo ion-margin-end"></ion-img>Facebook</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="light"><ion-img src="assets/images/google_logo.png" slot="start" class="logo ion-margin-end"></ion-img>Google</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="mytheme" routerLink="/auth/login"><strong>Have an account? Sign in</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text class="ion-text-center" color="medium"><h6 no-margin class="small"><a (click)="open_modal(true)">Terms of Use</a> and <a (click)="open_modal(false)">Privacy Policy</a></h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>