.header{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    padding-right: 0;
    background: var(--ion-color-primary);
  }
  ion-toolbar{
    --background: var(--ion-color-primary);
    color: white;
  }

  .back-icon{
    max-width: 30px;
    height: auto;
    color: white;
  }
  
  .content{
    background: var(--ion-color-primary);
    width: 100vw;;
  }
  
  .body{
    position: relative;
    z-index: 100;
    margin: 10px;
  }
  
  .profile{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;

    ion-label{
      margin-left: 20px;
    }

    ion-item{
      color: white;
      --background: var(--ion-color-primary);
    }
    p {
      color: white;
    }
  }
  
  .empty{
    margin-top: 30%;
    font-size: 3em;
  }

  .search-bar {
    background-color: rgba(240, 240, 240, .5);
    border-radius: 3px;
    font-size: .9em !important;
}
.hor-scroll{
    height: 30px;
}
.menu {
    color: white !important;
}
.my-btn{
    border: unset !important;
    border-radius: 5px !important;
    color: white;
    margin: 0 12px !important;
    width: fit-content;
    --background-checked: transparent;
    min-height: 25px;
}
.text {
    font-size: 12px;
    padding-bottom: 5px;
    color: white
}
.btn-active{
    background-color: unset;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 21px;
    border-radius: 3px;
    border-bottom: 1px solid gray;
    --indicator-color-checked:none !important;
    ion-text{
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }
}
#dag{
    scroll-behavior: smooth;
}

.segmenttoolbarSection{
    --min-height: 30px;
    .segSection{
        display: flex;
        align-items: flex-end;
        min-height:30px;
    }
}

.search-bar {
  background-color: rgba(240, 240, 240, .5);
  border-radius: 3px;
  font-size: .9em !important;
}
.hor-scroll{
  height: 30px;
}
.menu {
  color: white !important;
}
.my-btn{
  border: unset !important;
  border-radius: 5px !important;
  color: rgb(250, 250, 250);
  margin: 0 12px !important;
  width: fit-content;
  --background-checked: transparent;
  min-height: 25px;
}
.text {
  font-size: 12px;
  padding-bottom: 5px;
}
.btn-active{
  background-color: unset;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 21px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  --indicator-color-checked:none !important;
  ion-text{
      border-bottom: 2px solid white;
      padding-bottom: 5px;
  }
}
#dag{
  scroll-behavior: smooth;
}

.segmenttoolbarSection{
  --min-height: 30px;
  .segSection{
      display: flex;
      align-items: flex-end;
      min-height:30px;
  }
}

