<!-- <div class="content">
  <div class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" *ngIf="isBack || false">
          <img class="back-icon" src="assets/svg/chevron-back-outline.svg"> 
        </ion-button>
      </ion-buttons>
      {{title || 'Body Title'}}
      <ion-buttons slot="primary">
        <ion-button color="light" (click)="presentActionSheet()">
          <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>

        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</div>
<ion-card class="profile">
  <ion-item lines="none">
    <ion-avatar>
      <img src="../../../assets/img/user_image.jpg">
    </ion-avatar>
    <ion-label>
      <h4>Bishen Patel</h4>
      <p>bishenpatel@gmail.com</p>
    </ion-label>
  </ion-item>
</ion-card> -->

<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" (click)="fun.navigate('search')"  placeholder="I'm shopping for..." class="ion-padding-start search-bar"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only"  class="white ion-no-margin top-btn"></ion-icon>
      </ion-button>
      <ion-button (click)="side_open()">
        <ion-icon name="grid-outline" slot="icon-only" *ngIf="segment!=data[1].title" class="ion-no-margin white top-btn"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="mytheme" class="segmenttoolbarSection">
      <ion-segment mode="md"  (ionChange)="seg($event)" scrollable="true" id="dag" class="segSection">
        <ion-segment-button   [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" (click)="update(i)"
          class="my-btn ion-no-margin ion-no-padding" [value]="item.title" [ngClass]="{'btn-active':segment == item.title}">
          <ion-text padding-horizontal class="text">{{item.title}}</ion-text>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<div class="body">
  <ng-container *ngTemplateOutlet="pageTpl || defaultValueTpl;">

  </ng-container>
</div>


<ng-template #defaultValueTpl>
  <div class="ion-text-center empty">
    <ion-icon name="folder-open-outline"></ion-icon>
    <br />
    <ion-label>Insert Content</ion-label>
  </div>
</ng-template>