svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.not-login{
    --background:var(--ion-color-primary) !important;

    h2, h4{
        margin: 0 !important;
        color: white !important;
    }
}

.not-login-footer{
  background:var(--ion-color-primary) !important;
  height: 0.5em !important;
}
.center{
  margin:auto;
  text-align: center;
}