.header{
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  padding-right: 0;
  background: var(--ion-color-primary);
  padding-bottom: 5vh
}
.back-icon{
  max-width: 30px;
  height: auto;
  color: white;
}
ion-toolbar{
  --background: var(--ion-color-primary);
  color: white;
}
.content{
  background: var(--ion-color-primary);
  width: 100vw;;
}

.body{
  position: relative;
  z-index: 100;
  margin: 10px;
}

.profile{
  margin-top: 10px;
  
  ion-label{
    margin-left: 20px;
  }
  img{
    min-width: 3em !important;
    max-width: 3em !important;
    min-height: 3em !important;
    max-height: 3em !important;
  }
  p {
    color: #838383;
  }
}

.empty{
  margin-top: 30%;
  font-size: 3em;
}