.white {
    color: white !important;
}
.slide {
    width: 100%;
}
.btn-active{
    background-color: unset;
    color: white !important;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 3px;
    font-size: 21px;
    border-bottom: 1px solid gray;
    --indicator-color-checked:none !important;
    ion-text{
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }
}
.text {
    font-size: 12px;
    color: white
}
.light-bg{
    background: #f4f5f8;
}
.my-btn{
    border: unset !important;
    border-radius: 5px !important;
    color: rgb(250, 250, 250);
    margin: 0 12px !important;
    width: fit-content;
    --background-checked: transparent;
    min-height: 25px;
}
.hor-scroll{
    height: 30px;
}
.cut {
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    margin: auto;
}
.foot-highlight {
    color: orange;
    display: inline-block;
    margin: auto;
    margin-left: 9px;
}
.footer {
    background-color: rgb(12, 12, 12);
    color: rgb(210, 210, 210);
}
.foot-btn {
    width: 100%;
}
#dag{
    scroll-behavior: smooth;
}
.segmenttoolbarSection{
    --min-height: 30px;
    .segSection{
        display: flex;
        align-items: flex-end;
        min-height:30px;
    }
}